@media only screen and (max-width: 1150px) {
  .side-bar {
    width: 100%;
    position: absolute;
    height: 25%;
    overflow-x: hidden;
    background-color: rgb(57, 61, 66);
  }

  .side-lessons {
    list-style-type: none;
    height: 85%;
    width: 80%;
    text-align: center;
  }
}
/* For desktop */
@media only screen and (min-width: 1150px) {
  .side-bar {
    width: 18vw;
    position: absolute;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(57, 61, 66);
  }

  .side-lessons {
    list-style-type: none;
    height: 85%;
    padding-inline-start: 40px;
  }
}
.side-lessons::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.side-lessons::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.side-lessons::-webkit-scrollbar-thumb {
  background-color: rgb(198, 199, 190); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
}
