.side-lessons {
  width: 200px;
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  padding-top: 10px;
  list-style-type: none;
  background-color: rgb(57, 61, 66);
  margin-top: auto;
}

.side-lessons::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.side-lessons::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.side-lessons::-webkit-scrollbar-thumb {
  background-color: rgb(198, 199, 190); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
}
