.card {
  cursor: pointer;
  width: 80vw;
  height: 80vw;
  margin: auto;
}
.kanji {
  color: #333;
  text-align: center;
  font-size: 35vw;
  width: 80vw;
  height: 80vw;
  display: table-cell;
  vertical-align: middle;
}

.reading {
  color: #333;
  font-size: 6.3em;
}

.definition {
  color: #333;
  font-size: 4em;
}

@media only screen and (min-width: 1150px) {
  .card {
    cursor: pointer;
    height: 40vw;
    width: 40vw;
    margin-top: 5vh;
  }

  .kanji {
    color: #333;
    text-align: center;
    width: 40vw;
    height: 40vw;
    font-size: 17.5vw;
    display: table-cell;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 1600px) {
  .card {
    cursor: pointer;
    height: 30vw;
    width: 30vw;
    margin-top: 5vh;
  }

  .kanji {
    color: #333;
    text-align: center;
    width: 30vw;
    height: 30vw;
    font-size: 15vw;
    display: table-cell;
    vertical-align: middle;
  }
}
