.lesson-list-item {
  text-decoration: none;
  font-size: 1.4rem;
  color: #818181;
  text-align: left;
  padding-top: 6px;
  user-select: none;
}

.lesson-icon {
  vertical-align: bottom;
  font-size: 1.4rem;
  float: right;
  padding-right: 25px;
  padding-top: 6px;
}
