body {
  margin: 0;
  font-family: typeface-roboto, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(51, 53, 59);
}

code {
  font-family: typeface-roboto, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
